body {
  background:
  linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(images/office.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.content {
  text-align: center;
  color: #fff;
  margin: 40px auto;
  background: rgba(22,22,22, 0.8);
  width: 100%;
  max-width: 960px;
  border-radius: 5px;
  padding-bottom: 32px;
}

@media (max-width: 700px) {
  .content {
    margin: 0;
  }
}

.questionHolder {
  min-height: 130px;
}

h1 {
  padding-top: 40px;
  font-family: monospace;
}

p {
  width: 90%;
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 32px;
}

a {
  color: #fff;
}

#hidden {
  display: none;
}

.notice {
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.fade {
  color: #adadad;
}

.kosu {
  color: #ffccfd;
}

.pure {
  color: #fd9dff;
}
button {
  background: rgba(78, 169, 125, 0.44);
  color: white;
  padding: 10px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: rgba(81, 218, 152, 0.44);
}

.footer {
  position: absolute;
  color: #fff;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: .8em;
}

@media (max-width: 700px) {
  .footer {
    text-align: left;
  }
}
